<%= button_to 'Clear Log Entries', {:controller => :log, :action => 'delete_all'}, :method => :delete %>



<table>
  <tr>
    <th>
      Message
    </th>
    <th>
      Timestamp
    </th>
    <th>
      Name
    </th>
    <th>
      Session
    </th>
    <th>
      Timeago
    </th>
  </tr>


  <% @logs.order('timestamp DESC').each do |l| %>
      <tr>
        <td><%=l.msg%></td>
        <td><%=l.timestamp%></td>
        <td><small><%= link_to l.name, {:controller => :log, :action => 'get_session_by_name', :name => l.name || 'no-name'} %></small></td>

        <td><small><%= link_to l.session_id, {:controller => :log, :action => 'get_session_by_id', :id => l.session_id} %></small></td>

        <td><small><script>document.write(moment(<%=l.timestamp%>).fromNow())</script></small></td>


        <td><small><%= link_to 'download session',
                        {:controller => :log, :action => 'get_session_by_id', :id => l.session_id, :download => 'yes'}%>
        </small></td>



        <td><small><%= link_to 'download name',
                        {:controller => :log, :action => 'get_session_by_name', :name => l.name, :download => 'yes'}%>
        </small></td>
      </tr>
  <% end %>


</table>